<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <img class="img-logo" src="../../../assets/images/nature-view-resort 2.jpg" alt="logo" routerLink="/home" />
    <button mat-button class="inquire">
        <mat-icon>email</mat-icon>
        nvr@gmail.com
    </button>
    <button mat-button class="inquire">
        <mat-icon>phone</mat-icon>
        4123414242
    </button>
    <div class="links">
        <button mat-button *ngFor="let link of navData.sideLinks" [routerLink]="link.path" routerLinkActive="active">
            {{ link.label }}
        </button>
    </div>
    <button mat-icon-button aria-label="Example icon-button with menu icon" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="openAccountComponent()">
        <mat-icon class="landscape">manage_accounts </mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <div class="sidenav-links">
            <button mat-button class="menu-button" *ngFor="let sideLink of navData.sideLinks" [routerLink]="sideLink.path" routerLinkActive="active">
                <mat-icon>{{ sideLink.icon }}</mat-icon>
                <span>{{ sideLink.label }}</span>
            </button>
            <mat-divider></mat-divider>
        </div>
        <h4 class="abc">Explore</h4>
        <mat-divider></mat-divider>
        <div class="explore-links">
            <button mat-button *ngFor="let link of navData.exploreLinks" [routerLink]="link.path" routerLinkActive="active">
                {{ link.label }}
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-container *ngIf="allowedRoutes.includes(currentRouteName)" >
            <app-topic [currentRouteName]="currentRouteName | titlecase"></app-topic>
        </ng-container>

        <router-outlet></router-outlet>
        <app-testomonials></app-testomonials>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isAccountComponentVisiable" (overlayOutsideClick)="closeAccountComponent($event)">
    <app-signup-and-login></app-signup-and-login>
    <!-- <app-logininfo></app-logininfo> -->
</ng-template>
