<div class="carousel">
    <div class="content">
        <app-fancy-words></app-fancy-words>
    </div>
    <img [src]="images[currentImageIndex]" alt="Slideshow Image" />
    <!-- <img src="../../../assets/images/home/top-background-pic/home-top-background0.jpeg" alt="Image" /> -->
</div>

<app-home-about></app-home-about>

<!-- <app-home-facilitie></app-home-facilitie> -->

<!-- <app-home-about-sec></app-home-about-sec>
 -->
<!-- <app-home-about></app-home-about> -->
<app-home-facilitie></app-home-facilitie>
<!-- <div class="home-about">
    <app-home-about></app-home-about>
</div> -->

<!-- <app-facilitie [customStyle]="'custom-style-1'" [showButton]="true" [h1Text]="'The Nature View Resort'" [h1Text2]="'Facilities'"></app-facilitie> -->

<!-- <app-body></app-body> -->
<!-- <app-blogs></app-blogs> -->

<app-highlights></app-highlights>
<!-- <app-blogs></app-blogs> -->

<app-home-contact></app-home-contact>
<!-- <app-home-facilitie></app-home-facilitie> -->

<!-- <img [src]="images[currentImageIndex]" alt="Slideshow Image" /> -->
<!-- <img [src]="images/home/top-background-pic/[currentImageIndex]" alt="Slideshow Image" /> -->
