
<footer>
    <main>
        <section>
            <h3>The Nature View Resort</h3>
            <div class="footer-item">
                <p>
                    Welcome! to The Nature View Resort where you become our family the moment you walk through our doors. Come join us in this cozy, and affordable hostel that is located in the Heart
                    of Hawkes Bay and experience New Zealand like a local.Welcome! to The Nature View Resort where you become our family the moment you walk through our doors. Come join us in this
                    cozy, and Hawkes Bay and experience New Zealand like a local.Welcome! to The Nature View Resort where you become our family
                </p>
            </div>
        </section>
        <section>
            <h3>Quick Links</h3>
            <div class="footer-item">
                <div class="container">
                    <button class="footer-links" mat-button *ngFor="let link of getCombinedLinks()">
                        <mat-icon>keyboard_double_arrow_right</mat-icon>
                        <p>{{ link?.label }}</p>
                    </button>

                    <button mat-button class="add-link" (click)="openTermsAndConditionDialog()">
                        <mat-icon>keyboard_double_arrow_right</mat-icon>
                        <h4>Terms and Conditions</h4>
                    </button>

                    <button mat-button class="add-link" (click)="openUsefulInfoDialog()">
                        <mat-icon>keyboard_double_arrow_right</mat-icon>
                        <h4>Useful Information</h4>
                    </button>
                </div>
            </div>
        </section>
        <section>
            <h3>Contact Info</h3>
            <div class="footer-item">
                <div class="container">
                    <button class="footer-links" mat-button *ngFor="let item of contactInfoData">
                        <mat-icon>{{ item.icon }}</mat-icon>
                        <p>{{ item.content }}</p>
                    </button>
                </div>
                <div class="social-media" routerLink="./contact">
                    <mat-icon>keyboard_double_arrow_right</mat-icon>
                    <h4>Fallow Us On</h4>
                    <mat-icon svgIcon="facebook"></mat-icon>
                    <mat-icon svgIcon="youtube"></mat-icon>
                    <mat-icon svgIcon="tiktok"></mat-icon>
                    <mat-icon svgIcon="instagram"></mat-icon>
                </div>
            </div>
        </section>
        <section>
            <h3>The Nature View Resort</h3>
            <div class="footer-item">
                <div class="test">
                    <app-google-map></app-google-map>
                </div>
            </div>
        </section>
    </main>
    <section class="last-section">
        <div class="last-footer-item">
            <p>©2023 Nature View Resort PVT LTD.</p>
            <p>All Rights Reserved | Designed and Hosted by</p>
            <h1>SBCK Tech Solution Inc</h1>
        </div>
    </section>
</footer>
