footer {
    background-color: #929391;
    padding: 20px;

    main {
        display: flex;
        gap: 3em;
        flex-wrap: wrap;
        justify-content: center;

        section {
            h3 {
                color: rgb(89, 3, 3);
                text-align: center;
            }
            border-bottom: 1px solid black;
            max-width: 1200px;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .footer-item {
                min-width: 400px;
                margin-bottom: 1em;
                @media (min-width: 1552px) {
                    .test {
                        width: 900px;
                    }
                }

                @media (max-width: 450px) {
                    min-width: 300px;
                }
                @media (max-width: 350px) {
                    min-width: 200px;
                }
            }
        }
    }
}
