main {
    .section1 {
        h2 {
            margin-top: -0.3em;
            margin-right: -0.6em;

        }
        display: flex;
        align-items: center;

        .icons {
            display: flex;
            gap: 0.2em;
        }

        @media screen and (max-width: 400px) {
            h2 {
                font-size: medium;
            }
            .icons {
                mat-icon {
                    width: 1.2em;
                    height: 1.2em;
                }
            }
        }
    }

    .section2 {
        border: 1px solid red;

        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;

            .child {
                display: flex;
                gap: 1em;

                @media screen and (max-width: 800px) {
                    flex-direction: column;
                    gap: 0em;
                }
            }
            mat-form-field {
                flex: 1;
                &:nth-child(3) textarea {
                    height: 6em;
                }
            }
        }
    }
}
