<main>
    <!-- ------------------------- section1 ----------------------------------------------------------- -->
    <section class="section1">
        <div class="div1">
            <h1>{{ mainData.main.section1.div1.h1 }}</h1>
            <p>{{ mainData.main.section1.div1.p }}</p>
        </div>
        <div class="div2">
            <img class="content" [src]="mainData.main.section1.div2.img" alt="" />
        </div>
    </section>

    <!-- ------------------------- section2 ----------------------------------------------------------- -->

    <section class="section2">
        <div class="box1">
            <h1 class="middle">{{ mainData.main.section2.box1.h1 }}</h1>
        </div>
        <div class="box2">
            <div class="div1">
                <video autoplay loop muted playsinline controlsList="nodownload">
                    <source src="{{ mainData.main.section2.box2.div1.video.src }}" type="video/mp4" />
                    {{ mainData.main.section2.box2.div1.video.fallbackText }}
                </video>
            </div>
            <div class="div2">
                <p>{{ mainData.main.section2.box2.div2.p }}</p>
            </div>
        </div>
    </section>

    <!-- ------------------------- section3 ----------------------------------------------------------- -->

    <section class="section3">
        <div class="container">
            <div class="child">
                <span>{{ mainData.main.section3.container.child1.span1 }}</span>
                <span>{{ mainData.main.section3.container.child1.span2 }}</span>
            </div>
            <div class="child">
                <span>{{ mainData.main.section3.container.child2.span1 }}</span>
                <span>{{ mainData.main.section3.container.child2.span2 }}</span>
            </div>
            <div class="child">
                <span>{{ mainData.main.section3.container.child3.span1 }}</span>
                <span>{{ mainData.main.section3.container.child3.span2 }}</span>
            </div>
        </div>
    </section>

    <!-- ------------------------- section4 ----------------------------------------------------------- -->

    <section class="section4">
        <div class="container">
            <div class="box1">
                <div class="child">
                    <h1>{{mainData.main.section4.container.box1.child1.h1 }}</h1>
                </div>
            </div>
            <div class="box2">
                <div class="child" *ngFor="let member of teams">
                    <mat-card class="example-card">
                        <img mat-card-image [src]="member.imageURL" alt="Photo of {{ member.name }}" />
                        <mat-card-header>
                            <mat-card-title>{{ member.name }}</mat-card-title>
                            <mat-card-subtitle>{{ member.jobTitle }}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------------- section5 ----------------------------------------------------------- -->

    <section class="section5">
        <mat-card class="container">
            <h1>{{ mainData.main.section5.container.h1 }}</h1>
            <p>{{ mainData.main.section5.container.p }}</p>
            <button routerLink="/{{ mainData.main.section5.container.button.routerLink }}" mat-fab extended color="warn">{{ mainData.main.section5.container.button.text }}</button>
        </mat-card>
    </section>

    <!-- ------------------------- section6 ----------------------------------------------------------- -->

    <section class="section6">
        <h1>Our Core Values</h1>
        <p>It takes great people to make great product.Our company culture champions diversity and out team member embody Pipedrive's values</p>
        <div class="container">
            <mat-card class="child" *ngFor="let value of coreValues">
                <mat-icon>{{ value.icon }}</mat-icon>
                <h1>{{ value.title }}</h1>
                <p>{{ value.p }}</p>
            </mat-card>
        </div>
    </section>
</main>


