* {
  box-sizing: border-box;
}

.container {
  // margin-top: 1.3em;
  &.right-panel-active {
    .overlayRight {
      transform: translateX(-100%);
      opacity: 0;
    }
    .overlayLeft {
      transform: translateX(-100%);
      opacity: 1;
      z-index: 2;
    }
  }
  & .left-panel-active {
    .form-container-login {
      transform: translateX(100%);
      // opacity: 0;
      opacity: 1;
      z-index: 2;
    }
    .form-container-signUp {
      transform: translateX(100%);
      opacity: 1;
      z-index: 2;
    }
  }

  display: flex;
  align-self: flex-end;
  position: relative;
  margin-top: 0.4em;
  margin-right: -1em;

  .form-container-login,
  .form-container-signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    max-width: 300px;
    background: #eceff1;
    padding: 25px;
    mat-form-field {
      width: 100%;
      padding: 0.6em;
    }
    .loginBtn {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 5em;
    }

    .forgot-pass a {
      // font-size: 16px;
      color: #3498db;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: green;
      }
    }
    .submitBtn {
      margin-left: 50px;
    }
  }

  .overlay-container {
    .overlayRight {
      //Not a member
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 5em;
      display: flex;
      flex-direction: column;
      padding: 10%;
      justify-content: center;
      align-items: center;
      position: absolute;
      text-align: center;
      right: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(
          217deg,
          rgba(88, 209, 63, 0.8),
          rgba(55, 121, 220, 0.8) 70.71%
        ),
        linear-gradient(127deg, rgb(111, 103, 113), #4f92d6e7 0.1%),
        linear-gradient(336deg, rgb(129, 128, 130), rgb(171, 90, 187) 70.71%);
      // color: #fff;
      transition: all 0.5s;
      /* background-color: #b6eb61; */

      .signUpBtn {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 7em;
        // margin-bottom: -29px;
      }
    }
    .overlayLeft {
      //welcome back
      display: flex;
      flex-direction: column;
      padding: 50px;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      width: 50%;
      height: 100%;
      // opacity: 0;
      /* background-color: #66e5f5; */
      color: #fff;
      text-align: center;
      transition: all 0.5s;
      background: linear-gradient(
          217deg,
          rgba(5, 133, 116, 0.8),
          rgba(43, 179, 221, 0.8) 70.71%
        ),
        linear-gradient(127deg, rgb(214, 172, 225), #6ea0d1e7 0.1%),
        linear-gradient(336deg, rgb(205, 148, 215), rgb(207, 76, 236) 70.71%);
    }
  }

  .custom-SignIn {
    margin-top: 5em;
  }
}

.submitBtn,
.custom-SignIn {
  background-color: #e45252;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 45px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 80ms ease-in;
  &:hover {
    background-color: #1e748f;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
