.contact-page {
    // padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 176, 176);
    gap: 1em; /* Add space between the two sections */

    .contact-info {
        flex-basis: 30%;
        background-color: black;
        color: white;
        padding: 1em;
        margin-bottom: 1em;
        border-radius: 1em;
        max-width: 25em;
        gap: 5em;
        // min-width: 20em;

        .con {
            gap: 1em;
            display: flex;
            align-items: center;
            margin-bottom: 1em;
            font-size: smaller;

            mat-icon {
                // margin-right: 10px;
                color: rgb(6, 153, 251);
                border-radius: 50%;
                background-color: white;
                padding: 0.5em;
                flex-shrink: 0; /* Prevent the icons from shrinking */
            }
        }

        a {
            color: white;
            text-decoration: underline;

            &:hover {
                color: rgb(9, 160, 248);
            }
        }
    }

    .contact-form {
        flex-basis: 50%;
        padding: 2%;

        form {
            display: grid;
            gap: 1em;
            max-width: 35em;
            min-width: 25em;

            mat-form-field {
                &:nth-last-child(2) textarea {
                    height: 6em; // Increase the height as per your preference
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .contact-page {
        flex-direction: column;
        .contact-info {
            align-self: center;
            margin: 2em;
        }
    }
}
@media (max-width: 450px) {
    .contact-page {
        .contact-info {
            .con {
                mat-icon {
                    padding: 5px;
                }
            }
        }
        .contact-form {
            form {
                min-width: 20em;
            }
        }
    }
}

.schedule {
    display: flex;
    flex-direction: column;

    .schedule-title {
        display: flex;
        justify-content: center;
    }
    
    .mat-cards {
        display: flex;
        justify-content: space-around;
        padding: 3em;
        gap: 20px;
        mat-card {
            padding: 1em;
        }
    }
}

@media screen and (max-width: 800px) {
    .schedule {
        flex-direction: column;
    }
}
