<mat-toolbar color="primary">Responsive Card</mat-toolbar>
<div class="container responsive-grid">
    <mat-card *ngFor="let item of imageUrls">
        <img mat-card-image [src]="item.url" />
    </mat-card>
</div>


<!-- <mat-toolbar color="primary">Responsive Card</mat-toolbar>
<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards">
        <mat-card-header>
            <mat-card-title>{{ card.title }}</mat-card-title>
        </mat-card-header>
        <br />
        <img mat-card-image [src]="card.imageUrl" />
    </mat-card>
</div> -->
