

<section class="container" [ngClass]="customStyle">
    <h1>{{ h1Text }}</h1>
    <h1>{{ h1Text2 }}</h1>
    <div class="boxes">
        <mat-card class="box" *ngFor="let item of allItems">
            <mat-icon>{{ item.icon }}</mat-icon>
            <mat-card-content>
                <span>{{ item.name }}</span>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<section class="viewMoreSection" [ngClass]="customStyle">
    <button mat-fab extended color="primary" *ngIf="showButton" (click)="navigateToFacilities()">{{ isLargeScreen ? 'View Details' : 'View More' }}</button>
</section>
