<section class="container">
    <h1>The Nature View Resort</h1>
    <h1>Facilities</h1>
    <div class="boxes">
        <div class="box">
            <mat-icon>pool</mat-icon>
            <span>Swimming Pool</span>
        </div>
        <div class="box">
            <mat-icon>restaurant</mat-icon>
            <span>Restaurant</span>
        </div>
        <div class="box">
            <mat-icon>fitness_center</mat-icon>
            <span>Fitness Center</span>
        </div>
        <div class="box">
            <mat-icon>spa</mat-icon>
            <span>Spa</span>
        </div>
        <div class="box">
            <mat-icon>room_service</mat-icon>
            <span>Room Service</span>
        </div>
        <div class="box">
            <mat-icon>wifi</mat-icon>
            <span>Free Wi-Fi</span>
        </div>
        <div class="box">
            <mat-icon>local_parking</mat-icon>
            <span>Parking</span>
        </div>
        <div class="box">
            <mat-icon>business_center</mat-icon>
            <span>Business Center</span>
        </div>
        <div class="box">
            <mat-icon>pets</mat-icon>
            <span>Pet-Friendly</span>
        </div>
        <div class="box">
            <mat-icon>beach_access</mat-icon>
            <span>Beach Access</span>
        </div>
        <div class="box">
            <mat-icon>local_bar</mat-icon>
            <span>Bar</span>
        </div>
        <div class="box">
            <mat-icon>child_friendly</mat-icon>
            <span>Child-Friendly</span>
        </div>
        <div class="box">
            <mat-icon>golf_course</mat-icon>
            <span>Golf Course</span>
        </div>
        <div class="box">
            <mat-icon>local_laundry_service</mat-icon>
            <span>Laundry Service</span>
        </div>
        <div class="box">
            <mat-icon>airport_shuttle</mat-icon>
            <span>Airport Shuttle</span>
        </div>
        <div class="box">
            <mat-icon>room_preferences</mat-icon>
            <span>Customizable Rooms</span>
        </div>
        <div class="box">
            <mat-icon>accessible</mat-icon>
            <span>Accessible Facilities</span>
        </div>
        <div class="box">
            <mat-icon>car_rental</mat-icon>
            <span>Car Rental</span>
        </div>
        <div class="box">
            <mat-icon>beach_access</mat-icon>
            <span>Private Beach</span>
        </div>
        <div class="box">
            <mat-icon>local_cafe</mat-icon>
            <span>Cafe</span>
        </div>
    </div>
</section>
