.container {
    text-align: center;
    background-color: rgb(234, 229, 229);

    h1 {
        margin-bottom: 20px;
    }

    .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* Allow boxes to wrap to new lines */
        max-width: 2000px;
        margin: 0 auto;

        .box {
            width: 200px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f2f2f2;
            border-radius: 5px;
            margin: 10px;
            padding: 20px;
            // border: 1px solid red;

            mat-icon {
                font-size: 100px; /* Adjust the font-size as desired */
                margin-bottom: 10px;
                padding: 20px;
                margin: 20px;
                //   color: white;
            }

            span {
                font-size: 16px;
                font-weight: bold;
            }

            &:hover {
                background-color: rgb(59, 56, 56);

                mat-icon {
                    color: white;
                }
                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
}
.viewMoreSection {
    text-align: center;
    background-color: rgb(234, 229, 229);
    padding: 1em;
}

@media (max-width: 839px) {
    .container {
        .boxes {
            .box {
                width: 200px;
                height: 200px;
            }
        }
    }
}

.custom-style-1 {
    max-height: 36em;
    overflow: hidden; // Hide the overflow content
  
}
