<mat-dialog-content class="mat-typography" class="exclude-global-style">
    <mat-card class="example-card" *ngFor="let item of (reviews$ | async)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" [style.background-image]="'url(' + item.imgUrl + ')'"></div>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.country }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ item.description }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>{{ item.date }}</button>
        </mat-card-actions>
    </mat-card>


</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions> 

