* {
    box-sizing: border-box;
}

.container {
    max-width: 1700px;
    margin: 0 auto; /* Center the container horizontally */
    #parent {
        display: flex;
        flex-wrap: wrap;
        .child {
            height: 50px;
            background: red;
            flex: 1;
            min-width: 25%;
            border: 5px solid white;
        }
    }
}



// @media (max-width: 700px) {
//     .child {
//         min-width: 33.33%;
//     }
// }

// @media (max-width: 400px) {
//     .child {
//         min-width: 50%;
//     }
// }
