// .body-img {
//     width: 100%;
//     height: 100%;
//     border: 2px solid red;
// }

.body-div {
  background-color: red;
  background-image: url("../../../assets/images/hamro-hotel.jpg");
  height: 500px;
  margin-top: 0px;
}
