.container {
  display: flex;
  padding: 2em;
  width: 250px;
  background-color: rgb(184, 194, 224);
  margin-right: -0.9em;
  margin-top: 0.55em;
  background: linear-gradient(to bottom, hsl(210, 1%, 56%), rgb(75, 125, 125));

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center;
  }
  .name {
    margin-top: 8px;
    font-weight: normal;
    align-self: center;
  }
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    align-self: center;
    color: rgb(251, 245, 245);
  }

  .feature-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .custom-button {
      background-color: #95aeb1;
      color: #000;
      transition: background-color 0.2s ease-in-out;

      .left-content {
        display: flex;
        margin-right: -9px;
      }
      .right-content {
        margin-right: auto;
      }
    }
    .custom-button:hover {
      background-color: #bdbdbd;
    }
    .icon {
      margin-top: 7px;
      font-size: 15px;
      align-self: center;
    }
  }
}
