<mat-card class="container">
  <img  class="avatar mat-elevation-z8" [src]="profileData.profileImg" alt="Profile Image">
  <h4 class="name">{{ profileData.personalInfo.name }}</h4>
  <p class="designation">{{ profileData.personalInfo.designation }}</p>

  <section class="feature-container">
    <section class="feature-container">
      <button mat-button class="custom-button" *ngFor="let button of profileData.buttons" [routerLink]="button.path">
        <div class="left-content">
          <h4 class="button-text">{{ button.label }}</h4>
          <mat-icon class="icon">arrow_forward_ios</mat-icon>
        </div>
        <mat-icon class="right-content">{{ button.icon }}</mat-icon>
      </button>
    </section>
  </section>
</mat-card>
