.testimonial {
    background-color: #929391;
    padding: 0.5em;
    .box1 {
        text-align: center;
    }
    .box2 {
        // background-image: url("/assets/images/home/misc/testomonial-background.jpeg");
        display: flex;
        justify-content: center;
        padding: 0.5em;
        gap: 0.5em;

        .example-header-image {
            background-image: url("/assets/images/sam.JPG");
            background-size: cover;
        }

        .example-card1,
        .example-card2,
        .animate-fade-out {
            width: 800px;
            opacity: 0;
            animation-fill-mode: forwards;
        }

        .animate-slide-left {
            animation: slideLeft 7s infinite;
        }
        .animate-slide-right {
            animation: slideRight 7s infinite;
        }

        .animate-fade-out {
            animation: fadeInOut 7s infinite;
        }
    }
    .box3 {
        display: flex;
        justify-content: center;
        padding: 0.5em;
        gap: 0.5em;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
