.component-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 30%;
  padding: 2em;
  transform-origin: center;
  transition: transform 0.3s ease-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.component-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/home/misc/contact1.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.content {
  text-align: center;
  color: white;
  h1 {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
  }
}
