<main>
    <section>
        <div class="container" *ngFor="let item of localAttractionData">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>{{ item.title | uppercase }}</mat-card-title>
                    <mat-card-subtitle>{{ item.subTitle }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="item.imageUrl" alt="{{ item.title }}" />
                <mat-card-content>
                    <p class="card-description">
                        {{ item.description }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Explore<mat-icon>exit_to_app</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>
</main>
