<div class="container">
  <mat-card class="card" *ngFor="let attraction of localAttractions">
    <mat-card-header>
      <mat-card-title>{{ attraction.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="attraction.imageUrl" alt="{{ attraction.name }}" />
    <mat-card-content>
      <!-- <h3 class="card-title">{{ attraction.name }}</h3> -->
      <p class="card-description">{{ attraction.description + 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda obcaecati ad enim adipisci possimus a quaerat fuga sapiente, quod deserunt est architecto quis quos sint nobis inventore, velit quam voluptate.' }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button >Learn more <mat-icon>exit_to_app</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>