section {
    max-width: 4000px;
    margin: 0 auto;
    box-sizing: border-box;
    h1 {
        color: red;
    }
    h1,
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    img {
        width: 100%;
        float: right;
        shape-margin: 20px;
        margin-left: 5px;
    }
    .center-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    p {
        padding: 10px;
    }
}

@media (min-width: 1500px) {
    section {
        img {
            max-width: 1200px;
        }
    }
}

@media (min-width: 400px) {
    section {
        img {
            width: 70%;
            margin-right: 5px;
        }
    }
}
@media (max-width: 400px) {
    section {
        p {
            text-align: center;
        }
    }
}
