<section>
    <h1>{{ homeAboutDetails.homeAboutContent.h1 }}</h1>
    <h2>{{ homeAboutDetails.homeAboutContent.h2 }}</h2>
    <img src="{{ homeAboutDetails.imageUrl }}" />
    <p>
        {{ homeAboutDetails.homeAboutContent.aboutText }}
        <span *ngIf="isLargeViewport">{{ homeAboutDetails.homeAboutContent.additionalText1 }}</span>
        <span *ngIf="isExtraLargeViewport">{{ homeAboutDetails.homeAboutContent.additionalText2 }}</span>
    </p>

    <div class="center-button">
        <button routerLink="/about" mat-fab extended color="primary">Read More</button>
    </div>
</section>
